/**
 * Default CSS for imageselection field
 */
.imageselection ul {
  display: flex;
  flex-flow: row wrap;
  gap: 1em;
}

.imageselection > * > * > label {
  display : block;
  margin : 0;
  padding : 0;
  cursor: pointer;
  border : none;
}

.imageselection > * > * > label > .image {
  overflow: hidden;
}

.imageselection > * > * > label > .image > img {
  display: block;
  margin : 0;
  padding : 0;
  background-color: transparent;
  pointer-events: none;
  border : none;
}

.imageselection > * > * > label > .image .title {
  font-size: 90%;
  margin: 0;
  padding: 0.25em;
}
